[Desktop Entry]
Version=1.0
Type=Application
Name=Subvost Xray TUN
Comment=Универсальный TUI для управления туннелем
Exec=/usr/bin/env bash -c 'cd "$(dirname "%k")" && ./open-subvost-tui.sh'
Icon=subvost-xray-tun-icon
Terminal=true
Categories=Network;
StartupNotify=true
