[Desktop Entry]
Version=1.0
Type=Application
Name=Subvost Xray TUN
Comment=Универсальный TUI для управления туннелем
Exec=/usr/bin/env bash libexec/launch-tui-from-desktop.sh %k
Icon=subvost-xray-tun-icon
Terminal=true
Categories=Network;
StartupNotify=true
